


	<div class="row">
		<div class="col-md-12">
			<h1>Welcome to Funkyflick</h1>
			<p>FunkyFlick, Inc. was founded by a former Google engineer who had a vision of how to ﬁnd new movies to view without either having to scroll through endless lists of titles, depending on other people’s opinions, or searching solely for movies by genre. There had to be a better way! So, he wrote a program that can actually read regular English text and does not just use a simple search for keywords to determine whether a potential movie’s description is similar to a request’s sentences. The FunkyFlick program’s ability to really understand what you type means that you will ﬁnd movies you want to see far more quickly than you would with ordinary search programs that only use keywords to try to ﬁnd what you want. </p>

			<p>You can use this program to read descriptions of all movies, TV shows, or books from Wikipedia, and compare them with any other Wikipedia entry to ﬁnd new movies for you to watch. This is inﬁnitely powerful!! The problem of searching for great movies to watch is solved! </p>

			<p> Our purpose is to be the search company based on true English writing, so our users will ﬁnd what they want faster than with any other search program. FunkyFlick means no more keyword searches or endless lists of search outcomes! In the future we will enable searches of books, web applications, news, Christmas gifts — anything a search engine can do now, just many times more powerful. And to make it so you can purchase it the instant you ﬁnd a product you like, we are proud to be partners with Amazon, the largest online retailer in the world! We hope you have fun!</p> 
			<p class="pull-right"> Funkyflick Team </p>
		</div>
	</div>
