


	<div class="row">
		<div class="col-md-12">
			<h1 class="welcometext">Welcome to Funkyflick</h1>
			<p>FunkyFlick is the website for movie buffs and for people who love to watch films. It focuses on why movies are similar.  </p>

			<p>If you’re interested in movies and want to share your thoughts, leave your comment about a similar movie and why.  </p>

			<p> The FunkyFlick Team is excited to hear from you.</p> 
			
		</div>
	</div>
