


	<div class="row">
		<div class="col-md-12">
			<h1 class="welcometext">Welcome to Funkyflick</h1>
			<p>FunkyFlick is an enterntainment website for movie buffs and moviegoers. The main focus is to provide similar movies with a comment why it's similar.  </p>
			<p> The Audience can leave their comments, rate movies and add similar films. </p>

			<p>Funkyflick also creates movie lists based on different subjects.  </p>

			<p> If you're interested in movies, the FunkyFlick Team is excited to hear from you.</p> 
			
		</div>
	</div>
