<h1 class"welcometext">We would love to hear from you!</h1>
<p>If you have any questions about similar movies, any comments, any suggestions or critique? </p>
<p> Please contact us at <a href="mailto:flick@funkyflick.com">flick@funkyflick.com</a>. </p>
