
body {
background-color: #F5F5F1;
color: #333333;
font-family: Arial, Helvetica, sans-serif;	
}


.jumbotron {
background-image: url('https://s3.amazonaws.com/funkyflick1/header.jpg');
background-color: #FFFCEB;
border: 1px solid #999999;
h2 {
color: #504357;
font-weight: bold;
}
p {
color: #962C5F;
font-size: 14px;
font-weight: bold;
}
}

/*-- Here is another option for the logo.
.navbar-default {
.container-fluid {
background-color: #504357;
.navbar-nav > li > a {
color: #ffffff;
font-size: 16px;
font-weight: bold;
}
.navbar-brand {
color: #FC1B04;
font-size: 32px;
font-weight: bold;
font-family: 'Shadows Into Light', cursive;
text-shadow: 2px 0 0 #FFFCEB, -2px 0 0 #FFFCEB, 0 2px 0 #FFFCEB, 0 -2px 0 #FFFCEB, 1px 1px #FFFCEB, -1px -1px 0 #FFFCEB, 1px -1px 0 #FFFCEB, -1px 1px 0 #ED7621;

}
}
} --*/

.navbar-default {
.container-fluid {
background-color: #EFEFEB;
.navbar-nav > li > a {
color: #504357;
font-size: 15px;
font-weight: bold;
}
}
}

.container-fluid {
padding: 10px 120px;
}

.logohead {
width: 180px;
margin-top: -20px;
}

.center {
text-align: center;
}

.thumbnail > img {

max-height: 250px;
}

.caption {
a {
color: #6F256F;
}
h4 {
font-size: 13px;
text-transform: uppercase;
font-weight: bold;
display: block;
height: 50px;
overflow: hidden;

}
}