<!DOCTYPE html>



<footer class="footer">
   <div class="container">
  
   <div class="footer-links center">
       
       <%= link_to "About", pages_about_path %>
       <%= link_to "Privacy", pages_privacy_path %>
       <%= link_to "Contact", pages_contact_path %>
       
    </div>  

    <div class="social center">    
    <a href="https://twitter.com/FunkyFlickcom"> <img alt="twitter" src="https://s3.amazonaws.com/funkyflick1/twitter.png">
    </a>
    <a href="https://www.facebook.com/funkyflick"> <img alt="twitter" src="https://s3.amazonaws.com/funkyflick1/png-1.png">
    </a>
    <div>
    <p> &copy; 2015 FUNKYFLICK, INC. All rights reserved. </p>
   </div>
  
</footer>